@page "/test1"

@using CurrieTechnologies.Razor.SweetAlert2;
<h3>Component</h3>
@inject SweetAlertService Swal;
<button class="btn btn-primary"
@onclick="testFunc">
    Try me!
</button>

 <p>@result?.IsConfirmed</p> 
@code {




    SweetAlertResult result;

    private async void testFunc()
    {
         result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Are you sure?",
                Text = "You will not be able to recover this imaginary file!",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Yes, delete it!",
                CancelButtonText = "No, keep it"
            });

            Console.WriteLine(result);
    }
}
