@using SAPConnection.Data
@inject CustomTheme customTheme
@inject NavigationManager nav

<CascadingAuthenticationState>
<AuthorizeView>
    <Authorized>
   @*         <img src="/Images/FFBL.jpg" height="50" width="170" style="display : block;
  margin-right: auto;" />*@
            <div style="color:@customTheme.backgroundColor; margin-right:10px;">
                @context.User.Identity?.Name!
            </div>
            <!DOCTYPE html>
            <html>
            <head>
                <style>
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        right: 0;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
                        z-index: 1;
                    }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown-item {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }

                        .dropdown-item:hover {
                            background-color: #DCE1E3;
                            border: none
                        }

                    .inner-dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .inner-dropdown-content {
                        display: none;
                        position: absolute;
                        left: -100%;
                        top: 0;
                        background-color: whitesmoke;
                        min-width: 100px;
                        width: inherit;
                        z-index: 1;
                        border : none
                    }

                    .inner-dropdown:hover .inner-dropdown-content {
                        display: block;
                    }

                    .inner-dropdown-item {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        border: none; /* Remove the border */
                    }

                        .inner-dropdown-item:hover {
                            background-color: lightgrey;
                        }

                    /* Custom arrow styles */
                    .theme-button::after {
                        content: '\25BE';
                        margin-left: 5px;
                        font-size: 18px;
                    }

                    /* Remove grid display for dropdown content */
                    .dropdown-content.grid {
                        display: block;
                    }
                </style>
            </head>
            <body>
                <div class="dropdown">
                    <button class="btn mybtn dropdown-toggle" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </button>

                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            @context.User.Identity?.Name!
                        </div>
                        <div class="dropdown-item inner-dropdown">
                            @*<div>Theme</div>*@
                            <div class="theme-button">Themes</div>
                            <div class="inner-dropdown-content">
                                <button class="dropdown-item" @onclick='()=>ChangeBackgroundColor("default")'> Default</button>
                                <button class="dropdown-item" @onclick='()=>ChangeBackgroundColor("light")'>Light</button>
                                <button class="dropdown-item" @onclick='()=>ChangeBackgroundColor("dark")'>Dark</button>
                                <button class="dropdown-item" @onclick='()=>ChangeBackgroundColor("Theme1")'>Theme1</button>
                                <button class="dropdown-item" @onclick='()=>ChangeBackgroundColor("Theme2")'>Theme2</button>

                            </div>
                        </div>

                    </div>
                </div>
            </body>
        </html>

       

    </Authorized>




    <NotAuthorized>
        @*<a href="Identity/Account/Register"  class="btn btn-primary" style="background-color:black;">Register</a>*@
        <a href="/" class="btn btn-primary" style="background-color:black;">Log in</a>
    </NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>

@code {

    private void ChangeBackgroundColor(string color)
    {
        customTheme.ThemeColor = color;
        customTheme.onThemeChange();
        StateHasChanged();
        nav.NavigateTo("/");

    }
}